/* Reset the default margins for the background and add a background color */
body,
html {
    margin: 0;
    background-color: #333333;
}

/* Set the default font family and color */
h1,
h2,
p,
div {
    color: #dddddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Make the title (h1) bigger */
h1 {
    font-size: 4rem;
    margin: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.green {
    background-color: #6aaa64;
}

.yellow {
    background-color: #c9b458;
}

.grey {
    background-color: #5b5b5b;
}

/* This creates the main board, which will hold words */
/* Also make sure the height:width is a 6:5 ratio */
#board {
    height: 30vw;
    width: 25vw;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    gap: 0.5vw 0;
}

/* For each row of words, we define a div element to hold characters */
.word {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: row;
    gap: 0 0.5vw;
}

/* For each character, define the div and space for a single letter */
.character {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    border: 2px solid #5b5b5b;

    font-size: 3vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}
